/node_modules
/public/hot
/public/storage
/public/template
/storage/*.key
/storage/logs/
/vendor
/stubs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.gitignore
composer.lock 
package.json 
